# =======================================================
# WELDOR DIGITAL PLATFORM - ENVIRONMENT EXAMPLE
# =======================================================

PORT=3000
NODE_ENV=development

# MongoDB Atlas Database URI
MONGODB_URI=mongodb+srv://weldoradmin:Weldor2026@cluster0.g4wl0mi.mongodb.net/weldor_industrial?retryWrites=true&w=majority

# Local Media Storage
STORAGE_TYPE=local

ADMIN_EMAIL=admin@weldorindustries.com
ADMIN_INITIAL_PASSWORD=Weldor@2026
